# Titanic - Machine Learning from Disaster

## Imports

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import OrdinalEncoder

## Global config

In [2]:
train_csv = "encoded_data.csv"

## Load data

In [3]:
train_data = pd.read_csv(train_csv, index_col='PassengerId')

### Data dictionary

#### Categorical features

- Survived - Survival - 0 = No, 1 = Yes - **Used for evaluating whether a person survived**
- Sex - Sex 	
- Embarked - Port of Embarkation - C = Cherbourg, Q = Queenstown, S = Southampton

#### Ordinal

- Pclass - Ticket class - 1 = 1st, 2 = 2nd, 3 = 3rd

#### Numerical features

##### Discrete

- SibSp - # of siblings / spouses aboard the Titanic 	
- Parch - # of parents / children aboard the Titanic 

##### Continuous

- Age - Age in years 		
- Fare - Passenger fare 

#### Mixed/Error-prone/Unused

- PassengerId - Id of person
- Name - Name of Passenger
- Ticket - Ticket number 
- Cabin - Cabin number

In [4]:
y_column = 'Survived'

In [5]:
import os
import random
import json
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Set warnings to not be displayed
pd.options.mode.chained_assignment = None

class Divider:
    '''
    Table divider class
    '''

    def __init__(self, input_table, important_column):
        '''
        Constructor for divider

        input_table - table to apply division on
        important_column - y_column used for predictions
        '''
        self.result = []
        self.input_table = input_table.copy()
        self.important_column = important_column
        self.connections = []
        self.index = 0
    
    def get_result(self):
        '''
        Returns the result of calculations
        '''
        return self.result

    def random_same_pk_fk(self, input_table, level, onehot=False):
        '''
        Recursively cluster randomly the columns
        level - level of recursion
        '''

        input_table = input_table.copy()
        
        # Return if no columns
        if len(input_table.columns) <= 1:
            return
        
        # Set up base table variables
        base_index = self.index
        self.index += 1
        base_index_cols = input_table.index.names
        
        # Apply clustering for every cluster of columns
        while len(input_table.columns) > 0:

            # Randomly shuffle
            self.index += 1
            mylist = np.array(range(0, len(input_table)))
            random.shuffle(mylist)

            # Randomly pick n_splits columns
            picked_columns = []
            if len(input_table.columns) > 1:
                picked_columns = input_table.sample(n=np.random.randint(1, len(input_table.columns)), axis='columns').columns
            else:
                picked_columns = input_table.columns       
            
            # Set new column names
            PK_name = 'PK' + str(level + 1) + str(self.index)
            FK_name = 'FK' + str(level + 1) + str(self.index)
            
            # Add new PK
            recursed_table = input_table[picked_columns]
            recursed_table.loc[:, PK_name] = mylist
            recursed_table.set_index(PK_name, inplace = True)
            
            # Add new FK and remove columns associated with it
            input_table.loc[:, FK_name] = mylist
            input_table = input_table.groupby(input_table.index.names + [FK_name]).mean()
            input_table = input_table.drop(picked_columns, axis = 1)
            
            # Add the connection to a list
            self.connections.append(('table' + str(level) + str(base_index), FK_name,  
                                     'table' + str(level + 1) + str(self.index), PK_name))
            
            # Append new FK table to result list
            if len(recursed_table.columns) == 1:
                # Check if you need to apply oneHotEncoding
                if onehot is True and len(recursed_table[recursed_table.columns[0]].unique()) < 7:
                    oneHotEncoder = OneHotEncoder()
                    encoded_col = pd.DataFrame(oneHotEncoder.fit_transform(recursed_table[[recursed_table.columns[0]]]).toarray())

                    # Concatenate the 2 tables
                    recursed_table = pd.concat([recursed_table.reset_index(), encoded_col], axis=1, copy=False, join='inner')

                    # Readd the index column
                    recursed_table.loc[:, PK_name] = mylist
                    recursed_table.set_index(PK_name, inplace = True)
                
                # Append single-column table to result
                self.result.append((level + 1, self.index, recursed_table))
                continue
            
            # Apply clustering recursively on smaller table
            self.random_same_pk_fk(recursed_table, level + 1, onehot=onehot)
        
        # Reset the index and set FK columns as normal columns
        input_table = input_table.reset_index()
        input_table.set_index(base_index_cols, inplace = True)
        self.result.append((level, base_index, input_table))
    
    def correlation(self, input_table, important_column, level):
        '''
        Recursively cluster most correlated columns to an "important_column"
        important_column - colum of interest, most likely to be Y
        input_table - table to apply the clustering on
        '''

        input_table = input_table.copy()

        n_splits = 3
        
        # Return if no columns
        if len(input_table.columns) == 0:
            return
        
        # Set up base table variables
        base_index = self.index
        self.index += 1
        base_index_cols = input_table.index.names

        # Calculate correlation between columns and most important column
        corr = abs(input_table.corr(method='spearman'))
        corr = corr.drop([important_column], axis = 1)
        
        # Calculate quantiles based on correlation and n_splits
        quantiles = []
        for i in range(n_splits):
            quantile = 1 - (i+1) / n_splits
            quantiles.append(corr.loc[[important_column]].T.quantile(quantile)[0])
        
        # Apply clustering for every cluster of columns
        for threshold in quantiles:
            # Randomly shuffle
            self.index += 1
            mylist = np.array(range(0, len(input_table)))
            random.shuffle(mylist)

            # Break if no columns
            if len(corr.columns) == 0 or len(input_table.columns) == 0:
                break
        
            # Pick the new important column
            new_important = corr.loc[[important_column]].idxmax(axis=1)[0]
            # Pick all columns with correlation above quantile threshold
            corr_columns = [col for col in corr.loc[[important_column]].columns if corr.loc[[important_column]][col][0] >= threshold]
           
            if len(corr_columns) == 0:
                continue

             # Set new column names
            PK_name = 'PK' + str(level + 1) + str(self.index)
            FK_name = 'FK' + str(level + 1) + str(self.index)
            
            # Add new PK
            recursed_table = input_table[corr_columns]
            recursed_table.loc[:, PK_name] = mylist
            recursed_table.set_index(PK_name, inplace = True)
            
            # Add new FK and remove columns associated with it
            input_table.loc[:, FK_name] = mylist
            input_table = input_table.groupby(input_table.index.names + [FK_name]).mean()
            input_table = input_table.drop(corr_columns, axis = 1)
            corr = corr.drop(corr_columns, axis = 1)
            
            # Add the connection to a list
            self.connections.append(('table' + str(level) + str(base_index), FK_name,  
                                     'table' + str(level + 1) + str(self.index), PK_name))
            
            # Apply clustering recursively
            self.correlation(recursed_table, new_important, level + 1)

        # Reset the index and set FK columns as normal columns
        input_table = input_table.reset_index()
        input_table.set_index(base_index_cols, inplace = True)
        self.result.append((level, base_index, input_table))

    
    def divide(self, strategy, path, onehot=False):
        '''
        Function used to divide the table
        strategy - strategy of division
        path - path to save output
        '''

        # Create output folder
        os.makedirs(path, exist_ok=True) 
        
        # Initialise fresh result and connections lists
        self.__init__(self.input_table, self.important_column)
        
        # Pick strategy
        if strategy == 'random':
            input_table = self.input_table.groupby(self.input_table.index.names + [self.important_column]).mean()
            self.random_same_pk_fk(input_table, 0, onehot=onehot)
        elif strategy == 'correlation':
            self.correlation(self.input_table, self.important_column, 0)
        
        # Sort result by recursion level and index
        self.result.sort(key=lambda x: (x[0], x[1]))

        # Print results and save every table to a file
        print('Level, Index, Primary Key, Columns')
        for (el, col, table) in self.result:
            print(el, " ", col, " ", table.index.names, " ", table.columns, "\n")
            table.to_csv(path + '/table' + str(el) + str(col) + '.csv')

        # Initialise set of tuples in the form (table name, PK column)
        all_tables = []

        # Iterate over tables and fill data
        for (el, col, table) in self.result:
            # Add tables to set
            all_tables.append((str('table' + str(el) + str(col)), table.index.names))

        # Save connections to file
        np.savetxt(path + "/connections.csv", self.connections, delimiter=',', fmt='%s')
        
        # Save tables names with their PK to file
        all_tables = json.dumps(all_tables)
        with open(path + '/tables.json', 'w') as outfile:
            json.dump(all_tables, outfile)

In [6]:
# Initialise divider
dv = Divider(train_data, y_column)

In [7]:
# Apply division
# dv.divide(strategy = "correlation", path = 'output')
# dv.divide(strategy = "random", path = 'output')
dv.divide(strategy = "random", path = 'output', onehot=True)

Level, Index, Primary Key, Columns
0   0   ['PassengerId', 'Survived']   Index(['FK12', 'FK16', 'FK117'], dtype='object')

1   2   ['PK12']   Index(['FK24', 'FK25'], dtype='object')

1   6   ['PK16']   Index(['FK28', 'FK215', 'FK216'], dtype='object')

1   17   ['PK117']   Index(['SibSp'], dtype='object')

2   4   ['PK24']   Index(['Pclass', 0, 1, 2], dtype='object')

2   5   ['PK25']   Index(['Age'], dtype='object')

2   8   ['PK28']   Index(['FK310', 'FK314'], dtype='object')

2   15   ['PK215']   Index(['Fare'], dtype='object')

2   16   ['PK216']   Index(['Embarked', 0, 1, 2], dtype='object')

3   10   ['PK310']   Index(['FK412', 'FK413'], dtype='object')

3   14   ['PK314']   Index(['Title', 0, 1, 2, 3, 4], dtype='object')

4   12   ['PK412']   Index(['Sex', 0, 1], dtype='object')

4   13   ['PK413']   Index(['Parch'], dtype='object')

In [8]:
from numpy import genfromtxt

# Read data from tables - returns array of [table name, Primary key]
read_tables = []
with open('output/tables.json') as json_file:
    read_tables = json.loads(json.load(json_file))
print(read_tables)

[['table00', ['PassengerId', 'Survived']], ['table12', ['PK12']], ['table16', ['PK16']], ['table117', ['PK117']], ['table24', ['PK24']], ['table25', ['PK25']], ['table28', ['PK28']], ['table215', ['PK215']], ['table216', ['PK216']], ['table310', ['PK310']], ['table314', ['PK314']], ['table412', ['PK412']], ['table413', ['PK413']]]

In [9]:
# Read data from tables - read tables as pandas and set index as Primary key column
read_tables_content = dict()
for [table, pk] in read_tables:
    read_tables_content[table] = pd.read_csv('output/' + table + '.csv', index_col=pk)
    
print(read_tables_content)

{'table00':                       FK12  FK16  FK117
PassengerId Survived
1           0          389   696    355
2           1          247   454    423
3           1          539   779    236
4           1          660   483    351
5           0          526   209    643
...                    ...   ...    ...
887         0          322   160    696
888         1          822   440    136
889         0          152   445    809
890         1          811   448    699
891         0          556   260    277

[891 rows x 3 columns], 'table12':       FK24  FK25
PK12
0       86   785
1      654     7
2      212   413
3      201    47
4      625   203
...    ...   ...
886    265     5
887    137   525
888    858   477
889    129   460
890    392   208

[891 rows x 2 columns], 'table16':       FK28  FK215  FK216
PK16
0      883    743    370
1      370    868    564
2       32    627    775
3      151    469    332
4      499    380    348
...    ...    ...    ...
886    106    171    373
887    149    669    429
888    399    231    643
889    215    129     92
890    719    810     87

[891 rows x 3 columns], 'table117':        SibSp
PK117
355        1
423        1
236        0
351        1
643        0
...      ...
696        0
136        0
809        1
699        0
277        0

[891 rows x 1 columns], 'table24':       Pclass    0    1    2
PK24
242      2.0  0.0  0.0  1.0
574      0.0  1.0  0.0  0.0
764      2.0  0.0  0.0  1.0
732      0.0  1.0  0.0  0.0
279      2.0  0.0  0.0  1.0
...      ...  ...  ...  ...
593      1.0  0.0  1.0  0.0
695      0.0  1.0  0.0  0.0
431      2.0  0.0  0.0  1.0
224      0.0  1.0  0.0  0.0
44       2.0  0.0  0.0  1.0

[891 rows x 4 columns], 'table25':        Age
PK25
785   19.0
7     28.0
413   26.0
47    28.0
203   19.0
...    ...
5     21.0
525   36.0
477   39.0
460   14.0
208   58.0

[891 rows x 1 columns], 'table28':       FK310  FK314
PK28
0       737    488
1       235    329
2       234    355
3       764    179
4       479    827
...     ...    ...
886     675    474
887     716    808
888     807    114
889     228    593
890     804     93

[891 rows x 2 columns], 'table215':            Fare
PK215
743    211.3375
868     18.0000
627      7.7500
469      7.8958
380     11.5000
...         ...
171     14.4542
669    512.3292
231     26.0000
129      7.7750
810      7.7500

[891 rows x 1 columns], 'table216':        Embarked    0    1    2
PK216
370         2.0  0.0  0.0  1.0
564         2.0  0.0  0.0  1.0
775         1.0  0.0  1.0  0.0
332         2.0  0.0  0.0  1.0
348         2.0  0.0  0.0  1.0
...         ...  ...  ...  ...
373         0.0  1.0  0.0  0.0
429         0.0  1.0  0.0  0.0
643         2.0  0.0  0.0  1.0
92          2.0  0.0  0.0  1.0
87          1.0  0.0  1.0  0.0

[891 rows x 4 columns], 'table310':        FK412  FK413
PK310
0        161    260
1        245    124
2        800    882
3        741    815
4        525     53
...      ...    ...
886      359    869
887      132    252
888      536     29
889      622    135
890      628    429

[891 rows x 2 columns], 'table314':        Title    0    1    2    3    4
PK314
488      1.0  0.0  1.0  0.0  0.0  0.0
329      3.0  0.0  0.0  0.0  1.0  0.0
355      3.0  0.0  0.0  0.0  1.0  0.0
179      2.0  0.0  0.0  1.0  0.0  0.0
827      2.0  0.0  0.0  1.0  0.0  0.0
...      ...  ...  ...  ...  ...  ...
474      2.0  0.0  0.0  1.0  0.0  0.0
808      1.0  0.0  1.0  0.0  0.0  0.0
114      3.0  0.0  0.0  0.0  1.0  0.0
593      3.0  0.0  0.0  0.0  1.0  0.0
93       2.0  0.0  0.0  1.0  0.0  0.0

[891 rows x 6 columns], 'table412':        Sex    0    1
PK412
71     1.0  0.0  1.0
746    0.0  1.0  0.0
638    0.0  1.0  0.0
183    0.0  1.0  0.0
111    1.0  0.0  1.0
...    ...  ...  ...
675    1.0  0.0  1.0
85     0.0  1.0  0.0
36     0.0  1.0  0.0
535    1.0  0.0  1.0
664    1.0  0.0  1.0

[891 rows x 3 columns], 'table413':        Parch
PK413
260        0
124        0
882        0
815        0
53         0
...      ...
869        0
252        2
29         0
135        0
429        0

[891 rows x 1 columns]}

In [10]:
# Test table reading
table01 = pd.read_csv('output/table00.csv', index_col='PassengerId')
table01

             Survived  FK12  FK16  FK117
PassengerId
1                   0   389   696    355
2                   1   247   454    423
3                   1   539   779    236
4                   1   660   483    351
5                   0   526   209    643
...               ...   ...   ...    ...
887                 0   322   160    696
888                 1   822   440    136
889                 0   152   445    809
890                 1   811   448    699
891                 0   556   260    277

[891 rows x 4 columns]

In [11]:
# Read all ((table1, PK), (table2, FK)) relations and add them to a list
read_connections = map(lambda x: ((x[0], x[1]), (x[2], x[3])), genfromtxt('output/connections.csv', delimiter=',', dtype='str'))
read_connections = list(read_connections)
print(read_connections)

[(('table00', 'FK12'), ('table12', 'PK12')), (('table12', 'FK24'), ('table24', 'PK24')), (('table12', 'FK25'), ('table25', 'PK25')), (('table00', 'FK16'), ('table16', 'PK16')), (('table16', 'FK28'), ('table28', 'PK28')), (('table28', 'FK310'), ('table310', 'PK310')), (('table310', 'FK412'), ('table412', 'PK412')), (('table310', 'FK413'), ('table413', 'PK413')), (('table28', 'FK314'), ('table314', 'PK314')), (('table16', 'FK215'), ('table215', 'PK215')), (('table16', 'FK216'), ('table216', 'PK216')), (('table00', 'FK117'), ('table117', 'PK117'))]

In [12]:
# Example of joining tables by going over the relations list
for ((table1, index1), (table2, index2)) in read_connections:
    print(read_tables_content[table1].merge(read_tables_content[table2], left_on=index1, right_on=index2))

     FK12  FK16  FK117  FK24  FK25
0     389   696    355   242   827
1     247   454    423   574   869
2     539   779    236   764   813
3     660   483    351   732   800
4     526   209    643   279   307
..    ...   ...    ...   ...   ...
886   322   160    696   593    82
887   822   440    136   695   852
888   152   445    809   431   209
889   811   448    699   224   715
890   556   260    277    44   149

[891 rows x 5 columns]
     FK24  FK25  Pclass    0    1    2
0      86   785     2.0  0.0  0.0  1.0
1     654     7     1.0  0.0  1.0  0.0
2     212   413     1.0  0.0  1.0  0.0
3     201    47     0.0  1.0  0.0  0.0
4     625   203     0.0  1.0  0.0  0.0
..    ...   ...     ...  ...  ...  ...
886   265     5     2.0  0.0  0.0  1.0
887   137   525     0.0  1.0  0.0  0.0
888   858   477     2.0  0.0  0.0  1.0
889   129   460     2.0  0.0  0.0  1.0
890   392   208     0.0  1.0  0.0  0.0

[891 rows x 6 columns]
     FK24  FK25   Age
0      86   785  19.0
1     654     7  28.0
2     212   413  26.0
3     201    47  28.0
4     625   203  19.0
..    ...   ...   ...
886   265     5  21.0
887   137   525  36.0
888   858   477  39.0
889   129   460  14.0
890   392   208  58.0

[891 rows x 3 columns]
     FK12  FK16  FK117  FK28  FK215  FK216
0     389   696    355   422    479    713
1     247   454    423   650    727    346
2     539   779    236   756    557    825
3     660   483    351   424    134    506
4     526   209    643   615    193    141
..    ...   ...    ...   ...    ...    ...
886   322   160    696   578    482    205
887   822   440    136   696    503    477
888   152   445    809    96    610    460
889   811   448    699   421    500    604
890   556   260    277   379     54    360

[891 rows x 6 columns]
     FK28  FK215  FK216  FK310  FK314
0     883    743    370    810    390
1     370    868    564    371    476
2      32    627    775    464    647
3     151    469    332    750    857
4     499    380    348     58    779
..    ...    ...    ...    ...    ...
886   106    171    373    712    160
887   149    669    429     17    691
888   399    231    643    217    684
889   215    129     92    107    206
890   719    810     87    507    316

[891 rows x 5 columns]
     FK310  FK314  FK412  FK413
0      737    488    306    694
1      235    329    293    137
2      234    355    358    417
3      764    179    192    481
4      479    827    199    168
..     ...    ...    ...    ...
886    675    474    517    370
887    716    808    644    376
888    807    114    533    386
889    228    593    115     31
890    804     93    403    610

[891 rows x 4 columns]
     FK412  FK413  Sex    0    1
0      161    260  0.0  1.0  0.0
1      245    124  0.0  1.0  0.0
2      800    882  1.0  0.0  1.0
3      741    815  1.0  0.0  1.0
4      525     53  1.0  0.0  1.0
..     ...    ...  ...  ...  ...
886    359    869  1.0  0.0  1.0
887    132    252  0.0  1.0  0.0
888    536     29  0.0  1.0  0.0
889    622    135  1.0  0.0  1.0
890    628    429  1.0  0.0  1.0

[891 rows x 5 columns]
     FK412  FK413  Parch
0      161    260      0
1      245    124      0
2      800    882      0
3      741    815      0
4      525     53      0
..     ...    ...    ...
886    359    869      0
887    132    252      2
888    536     29      0
889    622    135      0
890    628    429      0

[891 rows x 3 columns]
     FK310  FK314  Title    0    1    2    3    4
0      737    488    1.0  0.0  1.0  0.0  0.0  0.0
1      235    329    3.0  0.0  0.0  0.0  1.0  0.0
2      234    355    3.0  0.0  0.0  0.0  1.0  0.0
3      764    179    2.0  0.0  0.0  1.0  0.0  0.0
4      479    827    2.0  0.0  0.0  1.0  0.0  0.0
..     ...    ...    ...  ...  ...  ...  ...  ...
886    675    474    2.0  0.0  0.0  1.0  0.0  0.0
887    716    808    1.0  0.0  1.0  0.0  0.0  0.0
888    807    114    3.0  0.0  0.0  0.0  1.0  0.0
889    228    593    3.0  0.0  0.0  0.0  1.0  0.0
890    804     93    2.0  0.0  0.0  1.0  0.0  0.0

[891 rows x 8 columns]
     FK28  FK215  FK216      Fare
0     883    743    370  211.3375
1     370    868    564   18.0000
2      32    627    775    7.7500
3     151    469    332    7.8958
4     499    380    348   11.5000
..    ...    ...    ...       ...
886   106    171    373   14.4542
887   149    669    429  512.3292
888   399    231    643   26.0000
889   215    129     92    7.7750
890   719    810     87    7.7500

[891 rows x 4 columns]
     FK28  FK215  FK216  Embarked    0    1    2
0     883    743    370       2.0  0.0  0.0  1.0
1     370    868    564       2.0  0.0  0.0  1.0
2      32    627    775       1.0  0.0  1.0  0.0
3     151    469    332       2.0  0.0  0.0  1.0
4     499    380    348       2.0  0.0  0.0  1.0
..    ...    ...    ...       ...  ...  ...  ...
886   106    171    373       0.0  1.0  0.0  0.0
887   149    669    429       0.0  1.0  0.0  0.0
888   399    231    643       2.0  0.0  0.0  1.0
889   215    129     92       2.0  0.0  0.0  1.0
890   719    810     87       1.0  0.0  1.0  0.0

[891 rows x 7 columns]
     FK12  FK16  FK117  SibSp
0     389   696    355      1
1     247   454    423      1
2     539   779    236      0
3     660   483    351      1
4     526   209    643      0
..    ...   ...    ...    ...
886   322   160    696      0
887   822   440    136      0
888   152   445    809      1
889   811   448    699      0
890   556   260    277      0

[891 rows x 4 columns]