# Titanic - Machine Learning from Disaster

## Imports

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.preprocessing import OrdinalEncoder

## Global config

In [2]:
train_csv = "encoded_data.csv"

## Load data

In [3]:
train_data = pd.read_csv(train_csv, index_col='PassengerId')

### Data dictionary

#### Categorical features

- Survived - Survival - 0 = No, 1 = Yes - **Used for evaluating whether a person survived**
- Sex - Sex 	
- Embarked - Port of Embarkation - C = Cherbourg, Q = Queenstown, S = Southampton

#### Ordinal

- Pclass - Ticket class - 1 = 1st, 2 = 2nd, 3 = 3rd

#### Numerical features

##### Discrete

- SibSp - # of siblings / spouses aboard the Titanic 	
- Parch - # of parents / children aboard the Titanic 

##### Continuous

- Age - Age in years 		
- Fare - Passenger fare 

#### Mixed/Error-prone/Unused

- PassengerId - Id of person
- Name - Name of Passenger
- Ticket - Ticket number 
- Cabin - Cabin number

In [4]:
y_column = 'Survived'

In [5]:
import os
import random
import json
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Set warnings to not be displayed
pd.options.mode.chained_assignment = None

class Divider:
    '''
    Table divider class
    '''

    def __init__(self, input_table, important_column):
        '''
        Constructor for divider

        input_table - table to apply division on
        important_column - y_column used for predictions
        '''
        self.result = []
        self.input_table = input_table.copy()
        self.important_column = important_column
        self.connections = []
        self.index = 0
    
    def get_result(self):
        '''
        Returns the result of calculations
        '''
        return self.result

    def random_same_pk_fk(self, input_table, level, onehot=False, overlap=False):
        '''
        Recursively cluster randomly the columns
        level - level of recursion
        '''

        input_table = input_table.copy()
        
        # Return if no columns
        if len(input_table.columns) <= 1:
            return
        
        # Set up base table variables
        base_index = self.index
        self.index += 1
        base_index_cols = input_table.index.names
        
        # Apply clustering for every cluster of columns
        while len(input_table.columns) > 0:

            # Randomly shuffle
            self.index += 1
            mylist = np.array(range(0, len(input_table)))
            random.shuffle(mylist)

            # Randomly pick n_splits columns
            picked_columns = []
            if len(input_table.columns) > 1:
                picked_columns = input_table.sample(n=np.random.randint(1, len(input_table.columns)), axis='columns').columns
            else:
                picked_columns = input_table.columns       
            
            # Set new column names
            PK_name = 'PK' + str(level + 1) + str(self.index)
            FK_name = 'FK' + str(level + 1) + str(self.index)
            
            # Add new PK
            recursed_table = input_table[picked_columns]
            recursed_table.loc[:, PK_name] = mylist
            recursed_table.set_index(PK_name, inplace = True)
            
            # Add new FK and remove columns associated with it
            input_table.loc[:, FK_name] = mylist
            input_table = input_table.groupby(input_table.index.names + [FK_name]).mean()
            input_table = input_table.drop(picked_columns, axis = 1)
            
            # Add the connection to a list
            self.connections.append(('table' + str(level) + str(base_index), FK_name,  
                                     'table' + str(level + 1) + str(self.index), PK_name))
            
            # Append new FK table to result list
            if len(recursed_table.columns) == 1:
                # Check if you need to apply oneHotEncoding
                if onehot is True and len(recursed_table[recursed_table.columns[0]].unique()) < 7:
                    oneHotEncoder = OneHotEncoder()
                    encoded_col = pd.DataFrame(oneHotEncoder.fit_transform(recursed_table[[recursed_table.columns[0]]]).toarray())

                    # Concatenate the 2 tables
                    recursed_table = pd.concat([recursed_table.reset_index(), encoded_col], axis=1, copy=False, join='inner')

                    # Readd the index column
                    recursed_table.loc[:, PK_name] = mylist
                    recursed_table.set_index(PK_name, inplace = True)
                
                # Append single-column table to result
                self.result.append((level + 1, self.index, recursed_table))
                continue
            else:
                #Perform overlaping with probability
                p = 0.3
                if np.random.rand() <= p:
                    picked_column = recursed_table.sample(n=1, axis='columns').columns
                    input_table[picked_column] = recursed_table[picked_column].copy()
            
            # Apply clustering recursively on smaller table
            self.random_same_pk_fk(recursed_table, level + 1, onehot=onehot, overlap=overlap)
        
        # Reset the index and set FK columns as normal columns
        input_table = input_table.reset_index()
        input_table.set_index(base_index_cols, inplace = True)
        self.result.append((level, base_index, input_table))
    
    def correlation(self, input_table, important_column, level):
        '''
        Recursively cluster most correlated columns to an "important_column"
        important_column - colum of interest, most likely to be Y
        input_table - table to apply the clustering on
        '''

        input_table = input_table.copy()

        n_splits = 3
        
        # Return if no columns
        if len(input_table.columns) == 0:
            return
        
        # Set up base table variables
        base_index = self.index
        self.index += 1
        base_index_cols = input_table.index.names

        # Calculate correlation between columns and most important column
        corr = abs(input_table.corr(method='spearman'))
        corr = corr.drop([important_column], axis = 1)
        
        # Calculate quantiles based on correlation and n_splits
        quantiles = []
        for i in range(n_splits):
            quantile = 1 - (i+1) / n_splits
            quantiles.append(corr.loc[[important_column]].T.quantile(quantile)[0])
        
        # Apply clustering for every cluster of columns
        for threshold in quantiles:
            # Randomly shuffle
            self.index += 1
            mylist = np.array(range(0, len(input_table)))
            random.shuffle(mylist)

            # Break if no columns
            if len(corr.columns) == 0 or len(input_table.columns) == 0:
                break
        
            # Pick the new important column
            new_important = corr.loc[[important_column]].idxmax(axis=1)[0]
            # Pick all columns with correlation above quantile threshold
            corr_columns = [col for col in corr.loc[[important_column]].columns if corr.loc[[important_column]][col][0] >= threshold]
           
            if len(corr_columns) == 0:
                continue

             # Set new column names
            PK_name = 'PK' + str(level + 1) + str(self.index)
            FK_name = 'FK' + str(level + 1) + str(self.index)
            
            # Add new PK
            recursed_table = input_table[corr_columns]
            recursed_table.loc[:, PK_name] = mylist
            recursed_table.set_index(PK_name, inplace = True)
            
            # Add new FK and remove columns associated with it
            input_table.loc[:, FK_name] = mylist
            input_table = input_table.groupby(input_table.index.names + [FK_name]).mean()
            input_table = input_table.drop(corr_columns, axis = 1)
            corr = corr.drop(corr_columns, axis = 1)
            
            # Add the connection to a list
            self.connections.append(('table' + str(level) + str(base_index), FK_name,  
                                     'table' + str(level + 1) + str(self.index), PK_name))
            
            # Apply clustering recursively
            self.correlation(recursed_table, new_important, level + 1)

        # Reset the index and set FK columns as normal columns
        input_table = input_table.reset_index()
        input_table.set_index(base_index_cols, inplace = True)
        self.result.append((level, base_index, input_table))

    
    def divide(self, strategy, path, onehot=False, overlap=False):
        '''
        Function used to divide the table
        strategy - strategy of division
        path - path to save output
        '''

        # Create output folder
        os.makedirs(path, exist_ok=True) 
        
        # Initialise fresh result and connections lists
        self.__init__(self.input_table, self.important_column)
        
        # Pick strategy
        if strategy == 'random':
            input_table = self.input_table.groupby(self.input_table.index.names + [self.important_column]).mean()
            self.random_same_pk_fk(input_table, 0, onehot=onehot, overlap=overlap)
        elif strategy == 'correlation':
            self.correlation(self.input_table, self.important_column, 0)
        
        # Sort result by recursion level and index
        self.result.sort(key=lambda x: (x[0], x[1]))

        # Print results and save every table to a file
        print('Level, Index, Primary Key, Columns')
        for (el, col, table) in self.result:
            print(el, " ", col, " ", table.index.names, " ", table.columns, "\n")
            table.to_csv(path + '/table' + str(el) + str(col) + '.csv')

        # Initialise set of tuples in the form (table name, PK column)
        all_tables = []

        # Iterate over tables and fill data
        for (el, col, table) in self.result:
            # Add tables to set
            all_tables.append((str('table' + str(el) + str(col)), table.index.names))

        # Save connections to file
        np.savetxt(path + "/connections.csv", self.connections, delimiter=',', fmt='%s')
        
        # Save tables names with their PK to file
        all_tables = json.dumps(all_tables)
        with open(path + '/tables.json', 'w') as outfile:
            json.dump(all_tables, outfile)

In [6]:
# Initialise divider
dv = Divider(train_data, y_column)

In [7]:
# Apply division
# dv.divide(strategy = "correlation", path = 'output')
# dv.divide(strategy = "random", path = 'output')
# dv.divide(strategy = "random", path = 'output', onehot=True)
dv.divide(strategy='random', path='output', overlap=True)

Level, Index, Primary Key, Columns
0   0   ['PassengerId', 'Survived']   Index(['FK12', 'FK117'], dtype='object')

1   2   ['PK12']   Index(['FK24', 'FK212', 'FK216'], dtype='object')

1   17   ['PK117']   Index(['Title'], dtype='object')

2   4   ['PK24']   Index(['FK36', 'FK37', 'FK311'], dtype='object')

2   12   ['PK212']   Index(['FK314', 'FK315'], dtype='object')

2   16   ['PK216']   Index(['SibSp'], dtype='object')

3   6   ['PK36']   Index(['Embarked'], dtype='object')

3   7   ['PK37']   Index(['FK49', 'FK410'], dtype='object')

3   11   ['PK311']   Index(['Pclass'], dtype='object')

3   14   ['PK314']   Index(['Fare'], dtype='object')

3   15   ['PK315']   Index(['Parch'], dtype='object')

4   9   ['PK49']   Index(['Age'], dtype='object')

4   10   ['PK410']   Index(['Sex'], dtype='object')

In [8]:
from numpy import genfromtxt

# Read data from tables - returns array of [table name, Primary key]
read_tables = []
with open('output/tables.json') as json_file:
    read_tables = json.loads(json.load(json_file))
print(read_tables)

[['table00', ['PassengerId', 'Survived']], ['table12', ['PK12']], ['table117', ['PK117']], ['table24', ['PK24']], ['table212', ['PK212']], ['table216', ['PK216']], ['table36', ['PK36']], ['table37', ['PK37']], ['table311', ['PK311']], ['table314', ['PK314']], ['table315', ['PK315']], ['table49', ['PK49']], ['table410', ['PK410']]]

In [9]:
# Read data from tables - read tables as pandas and set index as Primary key column
read_tables_content = dict()
for [table, pk] in read_tables:
    read_tables_content[table] = pd.read_csv('output/' + table + '.csv', index_col=pk)
    
print(read_tables_content)

{'table00':                       FK12  FK117
PassengerId Survived
1           0          859     60
2           1           38    645
3           1          223    754
4           1          127     16
5           0          742    395
...                    ...    ...
887         0          258    472
888         1          737    107
889         0           34    425
890         1          200    225
891         0          234    538

[891 rows x 2 columns], 'table12':       FK24  FK212  FK216
PK12
0      158    321    441
1      471    698    830
2      379    467    502
3       78    672    276
4      765    687    386
...    ...    ...    ...
886    594    695      0
887    248    570    357
888    792    652     70
889    574    524    317
890    490    833    575

[891 rows x 3 columns], 'table117':        Title
PK117
60       2.0
645      3.0
754      1.0
16       3.0
395      2.0
...      ...
472      4.0
107      1.0
425      1.0
225      2.0
538      2.0

[891 rows x 1 columns], 'table24':       FK36  FK37  FK311
PK24
0      873   133    777
1      174   327     83
2      616     4    310
3      304    49    737
4      578   122    718
...    ...   ...    ...
886     53   106     92
887    140   642    857
888    595   760    794
889    693   104    159
890    464   129    667

[891 rows x 3 columns], 'table212':        FK314  FK315
PK212
0        606    210
1        123    336
2        144    111
3        718     55
4        752    449
...      ...    ...
886      367    523
887      482    195
888      815    550
889      862    247
890      713    132

[891 rows x 2 columns], 'table216':        SibSp
PK216
441        0
830        1
502        1
276        1
386        0
...      ...
0          0
357        0
70         0
317        0
575        0

[891 rows x 1 columns], 'table36':       Embarked
PK36
420        2.0
525        0.0
212        2.0
228        2.0
176        2.0
...        ...
877        2.0
689        2.0
308        2.0
653        0.0
30         1.0

[891 rows x 1 columns], 'table37':       FK49  FK410
PK37
0      282    820
1      809    417
2      786    669
3      306    643
4      766    814
...    ...    ...
886    454    179
887    475    784
888    545    595
889    880    791
890     63    671

[891 rows x 2 columns], 'table311':        Pclass
PK311
777       0.0
83        0.0
310       2.0
737       2.0
718       2.0
...       ...
92        0.0
857       0.0
794       0.0
159       2.0
667       0.0

[891 rows x 1 columns], 'table314':            Fare
PK314
189     69.3000
663     14.5000
94      24.1500
405     55.9000
511     26.5500
...         ...
799      8.0500
618     13.0000
808     13.0000
763    153.4625
796     26.2500

[891 rows x 1 columns], 'table315':        Parch
PK315
210        2
336        0
111        2
55         0
449        0
...      ...
523        0
195        0
550        0
247        0
132        0

[891 rows x 1 columns], 'table49':        Age
PK49
116   50.0
762   49.0
766   27.0
834   19.0
760   28.0
...    ...
68    48.0
48    38.0
580   49.0
872   32.0
240   35.0

[891 rows x 1 columns], 'table410':        Sex
PK410
820    1.0
417    1.0
669    1.0
643    0.0
814    1.0
...    ...
179    1.0
784    1.0
595    1.0
791    1.0
671    1.0

[891 rows x 1 columns]}

In [10]:
# Test table reading
table01 = pd.read_csv('output/table00.csv', index_col='PassengerId')
table01

             Survived  FK12  FK117
PassengerId
1                   0   859     60
2                   1    38    645
3                   1   223    754
4                   1   127     16
5                   0   742    395
...               ...   ...    ...
887                 0   258    472
888                 1   737    107
889                 0    34    425
890                 1   200    225
891                 0   234    538

[891 rows x 3 columns]

In [11]:
# Read all ((table1, PK), (table2, FK)) relations and add them to a list
read_connections = map(lambda x: ((x[0], x[1]), (x[2], x[3])), genfromtxt('output/connections.csv', delimiter=',', dtype='str'))
read_connections = list(read_connections)
print(read_connections)

[(('table00', 'FK12'), ('table12', 'PK12')), (('table12', 'FK24'), ('table24', 'PK24')), (('table24', 'FK36'), ('table36', 'PK36')), (('table24', 'FK37'), ('table37', 'PK37')), (('table37', 'FK49'), ('table49', 'PK49')), (('table37', 'FK410'), ('table410', 'PK410')), (('table24', 'FK311'), ('table311', 'PK311')), (('table12', 'FK212'), ('table212', 'PK212')), (('table212', 'FK314'), ('table314', 'PK314')), (('table212', 'FK315'), ('table315', 'PK315')), (('table12', 'FK216'), ('table216', 'PK216')), (('table00', 'FK117'), ('table117', 'PK117'))]

In [12]:
# Example of joining tables by going over the relations list
for ((table1, index1), (table2, index2)) in read_connections:
    print(read_tables_content[table1].merge(read_tables_content[table2], left_on=index1, right_on=index2))

     FK12  FK117  FK24  FK212  FK216
0     859     60   220    471    547
1      38    645   375    390    297
2     223    754   273    557     38
3     127     16   645    324    674
4     742    395   291    357    452
..    ...    ...   ...    ...    ...
886   258    472   587    692    290
887   737    107   506    662    528
888    34    425   345    281    716
889   200    225   584    263    427
890   234    538    29     93    647

[891 rows x 5 columns]
     FK24  FK212  FK216  FK36  FK37  FK311
0     158    321    441   190   862    283
1     471    698    830   400   586    574
2     379    467    502   256   381    764
3      78    672    276   660   652    127
4     765    687    386   559   223     67
..    ...    ...    ...   ...   ...    ...
886   594    695      0   134   353    251
887   248    570    357   858   120    709
888   792    652     70   208   654    170
889   574    524    317   703   858     50
890   490    833    575   456   155    554

[891 rows x 6 columns]
     FK36  FK37  FK311  Embarked
0     873   133    777       0.0
1     174   327     83       0.0
2     616     4    310       0.0
3     304    49    737       2.0
4     578   122    718       2.0
..    ...   ...    ...       ...
886    53   106     92       2.0
887   140   642    857       2.0
888   595   760    794       2.0
889   693   104    159       2.0
890   464   129    667       0.0

[891 rows x 4 columns]
     FK36  FK37  FK311  FK49  FK410
0     873   133    777   116    481
1     174   327     83   762     62
2     616     4    310   766    814
3     304    49    737   834     90
4     578   122    718   760    866
..    ...   ...    ...   ...    ...
886    53   106     92    68    222
887   140   642    857    48    830
888   595   760    794   580    537
889   693   104    159   872    718
890   464   129    667   240    280

[891 rows x 5 columns]
     FK49  FK410   Age
0     282    820   9.0
1     809    417  30.0
2     786    669  38.0
3     306    643  18.0
4     766    814  27.0
..    ...    ...   ...
886   454    179  45.5
887   475    784  16.0
888   545    595  28.0
889   880    791  17.0
890    63    671  16.0

[891 rows x 3 columns]
     FK49  FK410  Sex
0     282    820  1.0
1     809    417  1.0
2     786    669  1.0
3     306    643  0.0
4     766    814  1.0
..    ...    ...  ...
886   454    179  1.0
887   475    784  1.0
888   545    595  1.0
889   880    791  1.0
890    63    671  1.0

[891 rows x 3 columns]
     FK36  FK37  FK311  Pclass
0     873   133    777     0.0
1     174   327     83     0.0
2     616     4    310     2.0
3     304    49    737     2.0
4     578   122    718     2.0
..    ...   ...    ...     ...
886    53   106     92     0.0
887   140   642    857     0.0
888   595   760    794     0.0
889   693   104    159     2.0
890   464   129    667     0.0

[891 rows x 4 columns]
     FK24  FK212  FK216  FK314  FK315
0     158    321    441    189    118
1     471    698    830    663     64
2     379    467    502     94    372
3      78    672    276    405    306
4     765    687    386    511    688
..    ...    ...    ...    ...    ...
886   594    695      0    799    754
887   248    570    357    618    242
888   792    652     70    808    494
889   574    524    317    763    685
890   490    833    575    796    838

[891 rows x 5 columns]
     FK314  FK315     Fare
0      606    210  41.5792
1      123    336   9.5000
2      144    111  27.9000
3      718     55  13.0000
4      752    449  25.5875
..     ...    ...      ...
886    367    523  35.5000
887    482    195   7.7292
888    815    550  10.5000
889    862    247   8.0500
890    713    132   7.2500

[891 rows x 3 columns]
     FK314  FK315  Parch
0      606    210      2
1      123    336      0
2      144    111      2
3      718     55      0
4      752    449      0
..     ...    ...    ...
886    367    523      0
887    482    195      0
888    815    550      0
889    862    247      0
890    713    132      0

[891 rows x 3 columns]
     FK24  FK212  FK216  SibSp
0     158    321    441      0
1     471    698    830      1
2     379    467    502      1
3      78    672    276      1
4     765    687    386      0
..    ...    ...    ...    ...
886   594    695      0      0
887   248    570    357      0
888   792    652     70      0
889   574    524    317      0
890   490    833    575      0

[891 rows x 4 columns]
     FK12  FK117  Title
0     859     60    2.0
1      38    645    3.0
2     223    754    1.0
3     127     16    3.0
4     742    395    2.0
..    ...    ...    ...
886   258    472    4.0
887   737    107    1.0
888    34    425    1.0
889   200    225    2.0
890   234    538    2.0

[891 rows x 3 columns]